### Ignore dataStore.txt inside src
/src/dataStore.txt

### Ignore CET2012_P02.iml
CET2012_P02.iml

### Ignore idea
.idea/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store